<section>
    <div>
        <p>List</p>
        <% for( var i=0; i < bookList.length; i++ ) { %>
        <div style="border:1px solid black">
            <div onclick="window.location.href='/detailBook/<%= bookList[i].book_id %>'">
                <p>
                    이름
                </p>
                <p>
                    <%= bookList[i].book_title %>
                </p>
            </div>
            <div>
                <p>
                    책 설명
                </p>
                <p>
                    <%= bookList[i].book_desc %>
                </p>
            </div>
            <div>
                <p>
                    재고
                </p>
                <p>
                    <%= bookList[i].book_qty %>
                </p>
            </div>
            <div>
                <p>
                    가격
                </p>
                <p>
                    <%= bookList[i].book_price %>
                </p>
            </div>
            <div>
                <p>
                    장르
                </p>
                <p>
                    <%= bookList[i].book_gn %>
                </p>
            </div>

            <div>
                <form>
                    <input type="hidden" name="id" value="<%= bookList[i].book_id %>" />
                    <input type="hidden" name="title" value="<%= bookList[i].book_title %>" />
                    <input type="hidden" name="desc" value="<%= bookList[i].book_desc %>" />
                    <input type="hidden" name="qty" value="<%= bookList[i].book_qty %>" />
                    <input type="hidden" name="price" value="<%= bookList[i].book_price %>" />
                    <input type="hidden" name="gn" value="<%= bookList[i].book_gn %>" />
                    <button type="submit">장바구니 추가</button>
                    <button type="submit">구매</button>
                    <button type="submit" formaction="/deletebook" formmethod="post">삭제</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</section>